.modalContent {
	width: 80%;
	margin: auto;
}
.modalHeader {
	margin-bottom: 20px;
}
.modaldataLeft {
	margin-bottom: 20px;
	img {
		border-radius: 50%;
		width: 150px;
	}
}
.modal {
	color: #fff;
	font-family: Montserrat;
	text-align: center;
}
