@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.table {
	width: 80%;
	margin: 0 auto;
	border-collapse: collapse;
	border-spacing: 0;
	margin-bottom: 20px;
	background-color: #c4c4c480;
	border-radius: 8px;
	padding-bottom: 10px;
	@media (max-width: 576px) {
		width: 85%;
	}
}
.tableWrapper {
	width: 90%;
	margin: auto;
	color: #fff;
}
.tableHead {
	display: table-header-group;
	padding: 20px;
	color: #00dfdd;
	font-weight: 400;
	font-size: 20px;
	line-height: 20px;
	font-family: "Montserrat";
	border-bottom: 1px solid #fff;
}

td {
	padding: 10px;
}
td:first-child {
	border-left-style: solid;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
td:last-child {
	border-right-style: solid;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
}
tr {
	width: 70%;
	margin: auto;
}
tr:nth-child(even) {
	background-color: #0a222db2;
	border-radius: 10px;
}
.eyeButton {
	background-color: transparent;
	border: none;
	cursor: pointer;
	padding: 0;
	margin: 0;
	width: 16px;
	height: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	&:hover {
		background-color: rgba(0, 0, 0, 0.05);
	}
	&:focus {
		outline: none;
	}
}
.closeModalButton {
	background-color: transparent;
	border: 1px solid #00dfdd;
	color: #fff;
	cursor: pointer;
	padding: 10px 20px 10px 20px;
	border-radius: 8px;
	&:hover {
		background-color: rgba(0, 0, 0, 0.05);
	}
	&:focus {
		outline: none;
	}
}
.modal {
	top: 50%;
	left: 50%;
	right: auto;
	bottom: auto;
	transform: translate(0%, 30%);
	margin: auto;
	width: 30%;
	height: 70%;
	background-color: #0a222d;
	border-radius: 10px;
	text-align: center;
	padding: 100px 0;
	@media screen and (max-width: 576px) {
		width: 75%;
		height: 60%;
		top: 20%;
		padding: 85px 0;
	}
}
